@{
	Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Manager | @ViewBag.Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	@Styles.Render("~/styles/global")
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	@Styles.Render("~/styles/pages/error")
	<!-- END PAGE LEVEL STYLES -->
	<!-- BEGIN THEME STYLES -->
	@Styles.Render("~/styles/themes")
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md page-404-full-page">
	<div class="row">
		<div class="col-md-12 page-404">
			<div class="number">
				404
			</div>
			<div class="details">
				<h3>Oops! You're lost.</h3>
				<p>
					We can not find the page you're looking for.<br />
					<a href="index.html">
						Return home
					</a>
					or try the search bar below.
				</p>
				<form action="#">
					<div class="input-group input-medium">
						<input type="text" class="form-control" placeholder="keyword...">
						<span class="input-group-btn">
							<button type="submit" class="btn blue"><i class="fa fa-search"></i></button>
						</span>
					</div>
					<!-- /input-group -->
				</form>
			</div>
		</div>
	</div>
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
	@Scripts.Render("~/scripts/ie-hack")
	<![endif]-->
	@Scripts.Render("~/scripts/core-plugins")
	@Scripts.Render("~/scripts/pages/error")
	<!-- END CORE PLUGINS -->
	<script>
		$(document).ready(function () {
			Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			Demo.init(); // init demo features
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>