@model Aritter.Web.Models.ChangePasswordViewModel

@{
	Layout = null;
	ViewBag.Title = "Alterar minha senha";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Manager | @ViewBag.Title</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<!-- Main Styles -->
	@Styles.Render("~/styles/main")
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		@Scripts.Render("~/scripts/ie-hack")
	<![endif]-->
</head>
<body class="login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="@Url.Action("Index", "Home")"><b>M</b>ANAGER</a>
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">@Html.DisplayFor(_ => _.UserName), altere a sua senha.</p>
			@using (Html.BeginForm("ChangePassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
			{
				@*@Html.ValidationSummary(ModelStateType.Error, new { @class = "alert-danger" })*@
				<div class="form-group has-feedback">
					@Html.TextBoxFor(_ => _.CurrentPassword, new { type = "password", @class = "form-control", placeholder = "Senha atual" })
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					@Html.TextBoxFor(_ => _.NewPassword, new { type = "password", @class = "form-control", placeholder = "Nova senha" })
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					@Html.TextBoxFor(_ => _.ConfirmNewPassword, new { type = "password", @class = "form-control", placeholder = "Confirme a senha" })
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
					</div><!-- /.col -->
				</div>
			}

			<a href="@Url.Action("Login", "Account")">Ir para o login</a><br>

		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
	<!-- Main Scripts -->
	@Scripts.Render("~/scripts/main")
	<script>
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>
</body>
</html>
